.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.chess {
    width: 300px;
    height: 150px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row_1, .row_2, .row_3 {
    display: flex;
    justify-content: space-between;
}

.playing {
    height: 80px;
}

.gameOver {
    margin: 40px;
}